@use "setup";

$primary-background: #B15600;
$seconday-background: #500801;
$button-color: #1D0303;
$text-color: #FFFFFF;

$base-font: 'Petit Formal Script', 'cursive';

body {
  font-size: 125%;
}

// Header Section

header {
  background: $primary-background;

}

nav ul {
  list-style: none;
  flex-direction: row;
  
  
}

.header-section {
  display: flex;
  justify-content: center;
}

// .header-section img {
//   padding: ;

// }


// About Section

.about-section {
  background: $seconday-background;
  display: flex;

}

.about-section img {
  

}
